*.dll binary
*.wasm binary
*.dat binary
*.blat binary
*.pdb binary
*.cs text
*.razor text
*.css text
*.js text
*.json text
*.html text
*.md text
*.png binary
*.jpg binary
*.ico binary
*.svg binary